/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    background: #2e9ce6;
    padding: 3em;
    font-family: 'Poppins', Arial, sans-serif;
    color: #fff;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

ul li {
    display: inline;
    margin-right: 30px;
}

ul li a {
    font-size: 1.5em;
}

a {
    color: #fff;
    text-decoration: none;
}